<div class="flex flex-col mt-16 items-center mx-auto gap-8 mb-6">
  <form
    class="flex mt-16"
    (submit)="$event.preventDefault(); addwhistlist(newtask)"
  >
    <input type="text" class="bg-white focus:outline-none p-2 grow" #newtask />
    <button type="submit" class="bg-green-400 text-white p-2">tambah</button>
  </form>
  <div *ngIf="tasks" class="grid grid-cols-1 auto-rows-min gap-2 w-screen">
    <div
      *ngFor="let item of tasks; let id = index"
      class="bg-white w-full grid grid grid-cols-[0.2fr_3fr_0.2fr] gap-2"
    >
      <input
        type="checkbox"
        name=""
        id=""
        [checked]="item.completed"
        (change)="changeWhistlist(id)"
      />
      <div>{{ item.name }}</div>
      <a class="bg-red-600 text-white p-2 rounded-lg" (click)="deleteWish(id)"
        >x</a
      >
    </div>
  </div>
</div>
