<div>
  <h1
    class="mt-48 mx-auto text-3xl lg:text-6xl font-mono font-semibold text-center text-yellow-300"
  >
    Wishlist Game <br />
    create your own wishlist game
  </h1>
</div>
<div class="w-screen h-screen flex justify-center">
  <!---->
  <br />
  <div
    class="grid mt-5 sm:grid-cols-1 md:grid-cols-2 auto-rows-min gap-2 w-4/6"
  >
    <a
      routerLink="wishlist"
      class="bg-white p-2 border-slate-300 w-full text-center focus:bg-slate-300"
      >wishlist game</a
    >
    <a
      routerLink="game"
      class="bg-white p-2 border-slate-300 w-full text-center focus:bg-slate-300"
      >list game
    </a>
  </div>
</div>
